<nav class="navbar bg-dark">
  <h1>Online Shop</h1>
  <ul>
    <li routerLinkActive="active"><a (click)="setType('Phone')"> Phone</a></li>
    <li routerLinkActive="active">
      <a (click)="setType('Tablet')"> Tablet</a>
    </li>
    <li routerLink Active="active">
      <a (click)="setType('Laptop')"> Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cart" (click)="setType('Cart')"> Cart</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/admin" href="">Log in</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
