<nav class="navbar bg-dark">
  <h1>Online Shop</h1>
  <ul *ngIf="authService.isAuthenficated(); else logIn">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/" href=""> Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/dashboard" href=""> Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/add" href=""> Add Product</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/orders" href=""> Orders</a>
    </li>
    <li>
      <a (click)="logout($event)" href=""> Logout</a>
    </li>
  </ul>
  <ng-template #logIn>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/admin/login" href=""> Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
