.table-wrap {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  padding: 2rem 2rem;
  color: #000;
}

@media screen and (max-width: 600px) {
  .table-wrap {
    overflow-x: auto;
  }
}

.form-control {
  margin-top: 1rem;
}
